<div class="app-content-body ">


  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Post</h1>
  </div>
  <div class="wrapper-md">
    <div class="row">
      <div class="col-sm-9">
        <div class="blog-post">
          <div class="panel">
            <div class="wrapper-lg">
              <h2 class="m-t-none"><a href="">标题：7 things you need to know about the flat design</a></h2>

              <div>
                <% @items.each do |item| %>
                    <% if [Settings.content_type.text, Settings.content_type.rich_text].member? item.item_type.content_type %>
                        <%= raw item.value %>
                    <% elsif item.item_type.content_type == Settings.content_type.video %>
                        <video src="<%= item.attachments.first.asset_url %>"></video>
                    <% elsif item.item_type.content_type == Settings.content_type.image %>
                        <audio src="<%= item.attachments.first.asset_url %>"></audio>
                    <% elsif item.item_type.content_type ==Settings.content_type.attachment %>
                        <a href="<%= item.attachments.first.asset_url %>">下载</a>
                    <% end %>
                <% end %>
              </div>
              <div class="line line-lg b-b b-light"></div>
              <div class="text-muted">
                <i class="fa fa-user text-muted"></i> by <a href="" class="m-r-sm">Admin</a>
                <i class="fa fa-clock-o text-muted"></i> Feb 20, 2013
                <a href="" class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 2 comments</a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


</div>










